* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Poppins', sans-serif;
}

.subheading1 {
    font-size: 40px;
    font-weight: 600;
    color: #212121;
}

.subheading2 {
    font-size: 16px;
    font-weight: 400;
    color: #424242;
}

#myBtn {
    cursor: pointer;
    background: #52de97;
    border: 3px solid #3ddb93;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    width: 50px;
    height: 50px;
    border-radius: 12px;
    /* padding:10px; */
    display: flex;
    align-content: center;
    justify-content: center;
}
/* animation */
.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

/* navbar */

header {
    flex-direction: row;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    min-height: 15vh;
}

.logo-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
}
.logo-text{
flex:3;
order:2;

}
.logo-text h5{
font-size:24px;
font-weight: 600;
color:#48915a;
line-height: 22px;
}
.logo-text h6{

    font-size:12px;
    color: #424242;;
}
.logo-image{
   
    flex:1;
    order:1
}

.logo-image img {
    width: 60%;
    border-radius: 4px;
    margin-left:20px;
    margin-top:10px;

}

.navbar {
    flex: 2;

}

.navbar ul {
    list-style: none;
}

.navLink {
    text-decoration: none;
    padding: 10px 16px;
    color: #90a4ae;
    font-weight: bold;
}

.navLink:hover {
    background: #195AB0;
    color:#fafafa;
}

.nav-wrapper {
    display: flex;
    justify-content: space-around;
}

.extra-buttons {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.extra-buttons a {
    text-decoration: none;
    color: #fafafa;
    font-size: 14px;
    font-weight: bold;
    background: #212121;
    padding: 8px 16px;
    border-radius: 25px;
    transition: 0.3s ease-out;
}

.extra-buttons a:hover {

    background: #195AB0;

}

/* background  */
.big-circle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    height: 80%;
    opacity: 0.4;
}


/* Hero section */


main {
    width: 90%;
    margin: auto;
}

.hero {
    /* background: yellow; */
    display: flex;
    min-height: 85vh;
    align-items: center;
}

.hero-left {
    flex: 1;
    padding: 0px 20px;
}

.hero-right {
    flex: 1;
    padding: 0px 20px;
}



.hero-left h1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #212121;

}

.hero-left p {
    font-size: 18px;
    margin-bottom: 32px;
    color: #424242;
}

.hero-left p span {

    font-weight: bold;
    color: #212121;

}

.hero-right img {
    min-height: auto;
    width: 100%;
}

.hero-button1 {

    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 4px;
    padding: 10px 14px;
    margin-right: 16px;
    transition: 0.3s ease-in;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.hero-button1-style1 {
    color: white;
    background: #195AB0;
}

.hero-button1-style2 {
    background: white;
    color: #195AB0;
    border: 2px solid #195AB0;
}

.hero-button1-style1:hover {
    background: black;
}

.hero-left-buttons {
    padding: 0px;
}

/* how it works section */
.how-it-works {
    /* background:linear-gradient(left,); */
    min-height: 100vh;
    border-radius: 100px 100px 10px 10px;
    background: linear-gradient(-5deg, white 50%, #e2e2e770 50%);

}

.how-it-works h1 {
    text-align: center;
    margin-top: 40px;
}

.how-it-works h4 {
    text-align: center;
    margin-bottom: 40px;
}

.how-it-works-wrapper {
    display: flex;

}

.hiw-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;


}

.hiw-card img {
    width: 65%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.hiw-card h5 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 18px;
}

.hiw-card p {
    font-size: 18px;
    width: 60%;
    text-align: center;
}

/* features */
.features {
    background: white;
    background: linear-gradient(120deg, white 50%, #e2e2e770 50%);
    border-radius: 0px 100px 10px 0px;
    min-height: 50vh;

}

.features h1 {
    text-align: center;
}

.features h4 {
    text-align: center;
    margin-bottom: 40px;
}

.features-wrapper {
    display: flex;
    align-items: stretch;
}

.features-left {
    flex: 1;
}

.features-right {
    flex: 1;
    background: #fafafa;
    border-radius: 50px 300px 350px 100px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}

.features-left img {
    height: 50vh;
    margin: auto;
    display: flex;
    align-items: flex-end;
}

.features-right ul {
    margin-top: 60px;
}

.features-right li {
    font-size: 16px;

    font-weight: normal;
    margin: 16px 0px;
    list-style: none;
    padding: 6px 20px;
    color: #2d3e50;
    /* background:gray; */
    text-align: justify;
    border-radius: 20px;

}

.tick {
    width: 16px;
    margin-right: 10px;
}

.faq {
    min-height: 50vh;
    background: linear-gradient(120deg, #e2e2e770 50%, white 50%);
    border-radius: 10px 0px 0px 100px;
    margin-bottom: 100px;

}

#faqs {
    padding: 40px 40px;
    /* border:2px dashed tomato;
     */
    background: #fafafa;
    border-radius: 50px 100px 180px 70px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    display: block;
    width: 60%;
    margin: auto;
}

.faq h1 {
    text-align: center;
    margin-top: 40px;
}

.faq h4 {
    text-align: center;
    margin-bottom: 40px;
}

.faq h3 {
    font-size: 22px;
    font-weight: bold;
    color: #212121;
}

.faq p {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #424242;
}

/* footer*/
footer {
    color: #eceff1;
    min-height: 15vh;
    background: #212121;
    border-radius: 30px 30px 0px 0px;
    /* border-top: 2px solid gray; */
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    padding: 30px 4px;
}

.footer-right h1 {

    text-align: left;
    font-size: 18px;
    font-weight: normal;

}

.footer-left {
    flex: 1;
    display: flex;
    padding-left: 15%;
    flex-direction: column;
    /* text-align:center; */
}



.contact-icon {
    margin-top: 10px;
    font-size: 16px;
}
.contact-icon a{
    color:white;
    text-decoration: none;
}

.footer-left img {
    width: 24px;
    margin-right: 12px;
}

.footer-right {
    flex: 1;

}

.footer-right img {
    width: 36px;
    margin-top: 20px;
    margin-right: 20px;
}

/* contact us */

.contact-us {
    margin-bottom: 80px;
    background: linear-gradient(-5deg, #fafafa 50%, #e2e2e770 50%);
    /* background-image: url('images/mid-eclipse.svg');
background-repeat: no-repeat;
background-position: top right;
background-size: 30%;   */
    border-radius: 100px;
}

.contact-us h1 {
    text-align: center;
    margin-top: 40px;
}

.contact-us h4 {
    text-align: center;
    margin-bottom: 40px;

}

#form-box {
    width: 40%;
    margin: 0px auto;
    display: block;
    padding: 20px;
    min-height: 20vh;
    background: #fafafa;
    ;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 16px;
    font-weight: normal;
    margin-left: 12px;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px;
    border: none;
    background: white;
    border: 2px solid #eeeeee;
    color: #212121;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {

    background: #195AB0;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-out;
}

input[type=submit]:hover {
    background: #212121;
}

/*  */
@media only screen and (max-width: 1024px) {
/* nav */
.logo-text{
    display:none;
}
.logo-image img{
    width:30%;
}
    /* hero */
    .hero {
        min-height: 50vh;
    }

    /* background */
    .big-circle {
        display: none;
    }
    /* features */
    .features-right{
        border-radius:30px;
    }
    /* faqs */
    #faqs{
        border-radius:30px;   
    }
    /* contact */
    #form-box{
        width:60%
    }
}

/* mobile screens */
@media only screen and (max-width: 768px) {

    /* common */
    .subheading1 {
        font-size: 28px;

    }

    .subheading2 {
        font-size: 16px;

    }

    /*  */

    /* navbar */
    header {
        flex-direction: column;
        min-height: 15vh;
        background: #e2e2e770;
        border-radius: 0px 0px 50px 50px;
    }

    .navbar {
        display: flex;
        align-items: flex-start;
    }

    .navLink {
        padding: 2px 20px;
    }

    .logo-wrapper {
        justify-content: center;
    }

    .logo-image img {
        width: 30%;
        margin: 0px;
    }
    .logo-image{
        display: flex;
    justify-content: center
    }

    .extra-buttons {
        display: none;

    }

    /* hero */
    main {
        width: 100%;
    }

    .hero {
        flex-direction: column;
        /* min-height:90vh;  */
        height: 80vh;
    }

    .hero-right {
        align-items: center;
        display: flex;
        justify-content: center
    }

    .hero-right img {
        width: 80%;
        margin: 0 10%;

    }

    .hero-left h1 {
        font-size: 28px;
        text-align: center;
        margin-top:30px;
    }

    .hero-left p {
        font-size: 16px;
        text-align: justify;
    }

    .hero-left-buttons {
        text-align: center;
    }


    /* background */
    .big-circle {
        display: none;
    }

    /* how it works */
    .how-it-works {
        padding-top:10px;
        border-radius: 50px 50px 0px 0px;
        background: #e2e2e770;

    }

    .how-it-works-wrapper {
        flex-direction: column;
    }

    .hiw-card img {
        width: 40%;
        margin-bottom: 16px;
    }

    .hiw-card p {
        margin-bottom: 60px;
    }

    /* features */
    .features {
        background: none;
    }
    .features h1{
        margin-top:20px;
    }

    .features-wrapper {
        flex-direction: column;
    }

    .features-left img {
        height: 40vh;
    }

    .features-right {
        border-radius: 30px;
        width: 90%;
        margin: auto;
        background: #e2e2e770;
        margin-top:10px;
    }

    .features-right ul {
        margin-top: 20px;
    }

    .tick {
        display: none;
    }

    /* faq */
    .faq {
        background: none;
    }

    #faqs {
        width: 90%;
        border-radius: 30px;
        background: #e2e2e770;
    }

    /* contact us */
    .contact-us {
        margin-bottom: 20px;
        background: none;
    }

    #form-box {
        width: 90%;
        background:#e2e2e770;
    }

    /* footer */
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        padding: 10px 4px;
    }

    .footer-right img {
        width: 32px;
        margin-top: 10px;
        margin-right: 10px;
    }

    .footer-left {

        padding: 20px;

    }

    .footer-right {

        padding: 20px;

    }

    .contact-icon span {
        font-size: 0.9rem;
    }

}